@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply font-sans antialiased bg-background text-foreground;
  }
}

@layer components {
  .book-spine::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 8px;
    height: 100%;
    background: linear-gradient(to right, rgba(0,0,0,0.2), rgba(0,0,0,0));
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    z-index: 1;
  }
}